$neutral: #F6F6F6;
$green-100: #BBF8C6;
$green-200: #5bd071;
$green-300: #184b2f;

.bkg-main {
    background-color: $neutral;
}

.bkg-green-100 {
    background-color: #90CA84;
}

.bkg-green-200 {
    background-color: $green-200;
}

.bkg-green-300 {
    background-color: $green-300;
}

.bkg-gray-200 {
    background-color: #D7D7D7;
}

.bkg-gray-300 {
    background-color: #545454;
}

.color-green-300 {
    color: $green-300;
}

.color-neutral {
    color: $neutral;
}

.color-inverse {
    color: #212121;
}

.color-gray-300 {
    color: #545454 !important;
}

.border-neutral {
    border: 1px solid $neutral;
}

.border-inverse {
    border: 1px solid #212121;
}

.border-gray-300 {
    border: 1px solid $neutral;
}
