@use '_colors.scss' as c;

/*
* Media Queries
*/
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-down {
    @media (max-width: 900px) { @content; }
 }

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

$border-radius: 20px;
$button-radius: 8px;
$padding: 12px;

body {
    &.overflow-hidden {
        overflow: hidden;
    }
}

.bkg-img {
    border-radius: $border-radius;
    width: auto;
    height: auto;
    background-repeat: no-repeat; 

    @include for-phone-only { 
        border-radius: 0;
    }
}

.button-filled {
    @extend .color-inverse, .bkg-green-200;
    display: inline-block;
    border-radius: $button-radius;
    padding: $padding;
}

.button-outline {
    display: inline-block;
    border-radius: $button-radius;
    padding: $padding;
    text-decoration: none;
    text-align: center;    
}

.linear {
    width: 120px;
    height: 5px;
    border-radius: $border-radius;
    display: inline-flex;

    &::after {
        content: "";
        background-color: c.$green-300;
        width: 40%;
    }

    &::before {
        content: "";
        background-color: c.$green-200;
        width: 60%;
    }
}

.slug {
    background-color: c.$green-100;
    border-radius: 100px;
    height: 26px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    &:hover {
        color: c.$green-300 !important;
    }

    &.button-outline, &.button-filled {
        &:hover {
            color: c.$green-100 !important;
            background-color: c.$green-300 !important;
            border: 1px solid c.$green-300 !important;
        }
    }
}

header {
    padding: 30px 0 10px;

    @include for-phone-only {
        padding: 20px 0;
        max-width: 100%;
    }

    .logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 88px;
    }

    nav {
        display: flex;
        justify-content: end;
        gap: 25px;

        .close-button {
            display: none;
        }

        @include for-phone-only {
            display: none;

            &.active {
                position: absolute;
                width: 100%;
                height: 100vh;
                background: c.$green-200;
                z-index: 999;
                top: 0;
                left: 0;

                display: flex;
                flex-direction: column;
                align-items: center !important;
                justify-content: center;

                .close-button {
                    content: "X";
                    display: block;
                    position: absolute; 
                    top: 20px;
                    right: 20px; 
                    font-size: 24px;
                    padding: 10px;
                    font-weight: 700;
                    color: c.$neutral !important;
                    cursor: pointer; 
                }

                a {
                    font-size: 20px;
                    padding: 20px 0;
                    font-weight: 700;
                    color: c.$gray-300 !important;
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .menu-icon {
        display: none;
    }

    @include for-phone-only {
        .menu-icon {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 70px;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            gap: 8px;
        
            span {
                display: block;
                height: 5px;
                width: 40px;
                border-radius: 2px;
                transition: all 0.4s ease-in-out;
            }
        } 
    }        
}

main {
    display: flex;
    gap: 40px;
    flex-direction: column;

    section {
        &.hero {           

            .img-machine {
                @extend .bkg-img;
                background-image: url('../images/img-machine.png');
                background-position: left;
                padding: 115px 80px 260px;
                box-sizing: border-box;
                
                @include for-phone-only {
                    background-size: cover;
                    box-sizing: border-box;
                    padding: 35px;
                }
            }

            .content-solutions {
                display: grid;
                gap: 36px;

                @include for-phone-only {
                    padding: 0px;
                }
            }

            .button-outline {
                justify-self: start; 
            }
        }

        &.glass {
            position: relative;
            top: -170px;
            margin-bottom: -170px;

            @include for-phone-only {
                display: none;
            }

            .wrapper {
                background: rgba(255, 255, 255, 0.21);
                border-radius: $border-radius;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                padding: 60px 40px;
                margin: 0 40px;

                .content:not(:last-child) {
                    display: flex;

                    &::after {
                        @extend .bkg-green-200;
                        content: "";
                        width: 1px;
                        height: 45px;   
                        margin-left: 15px;               
                    }
                }
            }
        }

        &.services {
            .img-services {
                @extend .bkg-img;
                background-image: url('../images/img-service.png');
                background-size: contain;
                padding-top: 91.84%;
                width: 100%;
            }    

            .wrapper {
                display: grid;
                grid-template-rows: calc(100% - 40px) 40px;

                @include for-phone-only {
                    & > div {
                        gap: 25px;
                        margin: 40px 0;
                    }
                }  

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .button-outline {
                    width: 140px !important;

                    @include for-phone-only {
                        width: calc(100% - 25px) !important;
                    }
                }
            }
        }

        &.projects {
            padding: 80px 3px;

            @include for-phone-only {
                padding: 60px 5px;

                .row {
                    margin: 0;
                }
            }

            .wrapper {
                background: rgb(46,106,58);
                background: -moz-linear-gradient(180deg, rgba(46,106,58,1) 0%, rgba(91,208,113,1) 100%);
                background: -webkit-linear-gradient(180deg, rgba(46,106,58,1) 0%, rgba(91,208,113,1) 100%);
                background: linear-gradient(180deg, rgba(46,106,58,1) 0%, rgba(91,208,113,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e6a3a",endColorstr="#5bd071",GradientType=1);
                border-radius: $border-radius;
                padding: 60px 120px;
                box-sizing: border-box;

                @include for-phone-only {
                    padding: 60px 5px;
                }

                .bkg-img-peca {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include for-phone-only {
                        display: none
                    }

                    .img-peca {
                        @extend .bkg-img;
                        position: absolute;
                        background-image: url('../images/img-peca-explodida.png');
                        background-size: contain;
                        padding-top: 98.84%;
                        width: 100%;
                    }
                }                
            }
        }

        &.partners {
            @include for-phone-only {
                h1 {
                    text-align: center;
                }
            }
        }

        &.who-we-are {
            padding: 160px 0px 160px 80px;

            @include for-phone-only {
                padding: 35px 0px;
            }

            .img-who-we-are {
                @extend .bkg-img;
                background-image: url('../images/img-who-we-are.png');
                background-size: contain;
                width: 100%;
                padding-top: 85.92%;

                @include for-phone-only {
                    margin-top: 25px;
                }
            }
        }

        &.competitive-differences {
            padding: 80px 0px;

            @include for-phone-only {
                padding: 0;
            }

            .img-competitive-differences {
                @extend .bkg-img;
                background-image: url('../images/img-competitive-differences.png');
                background-size: contain;
                padding-top: 154.26%;
                width: 100%;
            }

            @include for-phone-only {
                .subtitle {
                    text-align: center;
                }
                
                .automations {
                    gap: 25px;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 25px;                    
                }

                .button-outline {
                    width: 100%;
                }
            }            

            .content {
                border-radius: 20px;
                padding: 24px;
                border: 1px solid c.$neutral;
                height: 260px;
                cursor: pointer;

                @include for-phone-only { 
                    height: auto;
                }

                &:hover {
                    background-color: c.$green-300;
                    color: c.$neutral
                }
            }
        }

        &.customers {
            .logo-customers {
                display: flex;
                justify-content: center;
                gap: 25px;
                margin: 25px 0 80px;

                .img-ts-tech, .img-cation {
                    @extend .bkg-img;
                    background-size: contain;
                    width: 235px;
                    height: 70px;
                }

                @include for-phone-only {
                    flex-direction: column;
                    align-items: center;
                }

                .img-ts-tech {
                    background-image: url('../images/TSTech.png');
                }

                .img-cation {
                    background-image: url('../images/cation.png');
                }
            }
        }
    }
}

footer {
    height: 285px;
    padding: 80px 0 120px;
    box-sizing: border-box;
    color: c.$neutral;

    @include for-phone-only {
        padding: 0px 15px 10px;
        height: 210px;
    }

    .container, .row {
        height: 100%
    }

    .logo-footer {
        @extend .bkg-img;
        background-size: contain;
        background-image: url('../images/footer_logo.png');
        width: 100%;
        padding-top: 35%;

        @include for-phone-only {
            height: 60px;
            padding-top: 0;
        }
    }

    a {
        text-decoration: none;
        color: c.$neutral;

        &:hover {
            color: c.$green-200 !important;
        }
    }

    .institutional {
        gap:25px;
        @include for-phone-only {
            gap: 15px
        }
    }

    .contact-us {
        .contacts {
            display: grid;
            gap: 10px;            
        }
    }

    .social-media {
        gap: 10px;
        
        .instagram, .linkedin, .whatsapp {
            @extend .bkg-img;
            background-size: contain;
            width: 24px;
            height: 24px;
        }

        .instagram { 
            background-image: url('../images/instagram.png');
        }

        .linkedin {
            background-image: url('../images/linkedin.png');
        }

        .whatsapp {
            background-image: url('../images/whatsapp.png');
        }
    }
}
.owl-carousel {
    .owl-item {
        &:nth-child(1) {
            .item {
                background-image: url('../images/carousel/Awaltec.png');
            }
        }

        &:nth-child(2) {
            .item {
                background-image: url('../images/carousel/BRUM.png');
            }
        }

        &:nth-child(3) {
            .item {
                background-image: url('../images/carousel/Cation.png');
            }
        }

        &:nth-child(4) {
            .item {
                background-image: url('../images/carousel/Cestari.png');
            }
        }

        &:nth-child(5) {
            .item {
                background-image: url('../images/carousel/HIWIN.png');
            }
        }

        &:nth-child(6) {
            .item {
                background-image: url('../images/carousel/KALATEC.png');
            }
        }

        &:nth-child(7) {
            .item {
                background-image: url('../images/carousel/KEYENCE.png');
            }
        }

        &:nth-child(8) {
            .item {
                background-image: url('../images/carousel/SCHMENRSAL.png');
            }
        }

        &:nth-child(9) {
            .item {
                background-image: url('../images/carousel/SEW.png');
            }
        }

        &:nth-child(10) {
            .item {
                background-image: url('../images/carousel/SICK.png');
            }
        }

        &:nth-child(11) {
            .item {
                background-image: url('../images/carousel/SIEMENS.png');
            }
        }

        // &:nth-child(12) {
        //     .item {
        //         background-image: url('../images/carousel/TSTech.png');
        //     }
        // }

        &:nth-child(13) {
            .item {
                background-image: url('../images/carousel/WEG.png');
            }
        }

        &:nth-child(14) {
            .item {
                background-image: url('../images/carousel/Wirmuller.png');
            }
        }
    }
}

.owl-carousel .item {
    text-align: center;
    padding: 15px;
    background-color: transparent;  /* Cor de fundo para os itens */
    color: white;
    border-radius: 10px;
    height: 150px; /* Altura fixa */
    background-size: contain; /* A imagem será ajustada para não cortar */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;    
}

.owl-carousel {
    width: 100%; /* Garante que o carrossel respeite o tamanho do contêiner */
    overflow: hidden; /* Evita scroll horizontal indesejado */
}